[submodule "libs/SFML"]
	path = libs/SFML
	url = git@github.com:SFML/SFML.git
	branch = 2.5.x
[submodule "libs/bitsery"]
	path = libs/bitsery
	url = git@github.com:fraillt/bitsery.git
[submodule "libs/argh"]
	path = libs/argh
	url = git@github.com:adishavit/argh.git
